body {
    background-image: url(../images/Projects-Dark\ .png);
}

.owl-nome {
    margin-top: 4rem;
}

.owl-nome .item {
    background: #f1f1f1;
    height: 470px;
    width: 485px;
    text-align: center;
    left: 7rem;
    padding: 2rem;
    margin-top: 17rem;
}

.owl-nome .owl-dots {
    margin-top: 50px;
}

.owl-nome .owl-nav [class*=owl-] {
    color: #fff;
    font-size: 54px;
    margin: 5px;
    padding: 4px 7px;
    background: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px;
}

.owl-nome .owl-nav [class*=owl-]:hover {
    color: #671099;
    background: none;
}

.owl-nome .owl-dots .owl-dot span {
    margin: 6px 7px;
    background: #671099;
    transition: opacity .2s ease;
    border-radius: 50px;
    width: 1rem;
    height: 1rem;
}

.fa:not(.fa-github) {
    color: rgb(177, 180, 180);
    opacity: 4px;
}

.fa:hover {
    color: #671099;
}

.owl-nome .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #fff;
}

.owl-nome .owl-nav {
    position: absolute;
    width: 100%;
    top: 26%;
    background: #671099;
    height: 0px;
}

.owl-nome .owl-next {
    position: absolute;
    background: #671099;
    right: 1%;
}

.owl-nome .owl-prev {
    position: absolute;
    background: #671099;
    left: 1%;
}

h1 {
    color: #fff;
    text-align: center;
    font-size: 5em;
    font-weight: 600;
    margin-top: 1rem;
}

p {
    font-size: 1.0rem;
    font-weight: 500;
    color: #671099;
}

.projectimg {
    margin-top: -70px;
    margin-left: 90px;
}

.card {
    width: 460px;
    height: 400px;
    padding: 1rem;
    border-radius: 20px;
    text-align: center;
}
.text{
    margin-top: 10%;
    padding-bottom: 1.5em;
    
}
.text h2{
    font-size: 2.5em;
}
.text p{
    font-size: 1.2em;
}
